form {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div+div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 190px;
    text-align: right;
}

input {
    font: 1em sans-serif;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-left: 5px;
}

input:focus, textarea:focus {
    border-color: #000;
}

button {
    display: block;
    margin-left: .5em;
    margin-top: .5em;
}
